*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    height: 350px;
    width: 320px;
    
}

header{
    background-color: black;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 12px;
    gap: 20px;
}

label{
    font-weight: bold;
    font-size: 14px;

}

button{
    border: none;
    background-color: black;
    color: white;
    padding: 12px;
    border-radius: 4px;
}

footer{
    display: flex;
    height: 50px;
    align-items: flex-end;
}

input{
    height: 32px;
    border: 1px solid whitesmoke;
    border-radius: 4px;
}

.box
{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.focusmode{
    display: flex;
    height: 40px;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: row;
}


.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 30px;
}


.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}


.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 23px;
  width: 23px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #000000;
}

input:focus + .slider {
  box-shadow: 0 0 1px #000000;
}

input:checked + .slider:before {
  -webkit-transform: translateX(21px);
  -ms-transform: translateX(21px);
  transform: translateX(21px);
}


.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.toggle-case{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.inputbox input:checked{
  border-color: blue;
}

button:hover{
  cursor: pointer;
  background-color: gray;
}